@media(max-width: 570px){
    .navbar-brand img{
        width: 30%;
        float: none !important;
      }
      .navbar-brand p{
        float: none !important;
        font-size: 11px;
      }
      .navbar-toggler{
        margin-bottom: 50px !important;
        color: #fff;
        background-color: #fff;
      }
      .navbar-nav .nav-link{
        width: fit-content;
      }
      header .col-md-6:nth-child(2){
        margin-left: 0px;
      }
      h1::before{
        width: 41px;
      }
      h1::after{
        width: 41px;
      }
      .para{
        display: block !important;
      }
      .div1{
        left: 0%;
      }
      .div2{
        left: 0%;
      }
      .div3{
        right: 0%;
      }
      .div4{
        right: 0%;
      }
      .div5{
        top: -6%;
        left: 33%;
      }
      .div6{
        left: 33%;
        top: 38%;
      }
      .offcanvas{
        top: 100% !important;
      }
      h2{
        font-size: 35px;
        margin-top: 35px;
      }
      h2 span{
        margin-left: 28px;
        margin-bottom: -12px;
      }
      h2 .fa-star{
        left: 158px !important;
      }
      footer h2{
        font-size: 19px;
      }
      footer h2:nth-last-child(4){
        margin-top: -20px;
      }
      footer h2:nth-last-child(4) span{
        margin-left: 0px;
      }
      footer h2:nth-last-child(3){
        margin-top: -60px;
      }
      footer h2:nth-last-child(2){
        margin-top: -60px;
      }
      footer h2:nth-last-child(2) span{
        margin-left: 0px;
      }
      footer p:last-child{
        word-spacing: 2px;
      }
}
